.Goldmine_container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    color: #444444;
    justify-content: center;
}

.Goldmine_container_fluid {
    width: 80%;
    display: flex;
}

.Goldmine_container_fluid_left {
    width: 50%;
}

.Goldmine_container_fluid_right {
    width: 58%;
    margin-left: 10%;
}

.Goldmine_container_fluid_right>div>div button {
    float: left;
    margin-bottom: 30px;
}

.Goldmine_container_fluid_right>div>h1 {
    margin-top: 0px;
}

.Goldmine_container_fluid_right>div>div>ul>li {
    color: #444444;
    line-height: 34px;
    margin-left: -23px;
}

.Goldmine_container_fluid_left_img {
    width: 100%;
    display: flex;
}

.Goldmine_container_fluid_left_img_N_p {
    width: 33.33%;
    text-align: center;
    font-weight: 700;
}

.Goldmine_container_fluid_left_img_N_p>img {
    width: 100px;
}

@media screen and (max-width: 500px) {

    .Goldmine_container_fluid {
        width: 100%;
        flex-direction: column;
    }

    .Goldmine_container_fluid_left {
        width: 100%;
    }

    .Goldmine_container_fluid_right {
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;
        text-align: center;
        font-size: 12px;
    }

    .Goldmine_container_fluid_left_img_N_p>img {
        width: 40px;
    }

    .Goldmine_container_fluid_left_img_N_p>p {
        font-size: 10px;
    }

    .Goldmine_container_fluid_right>div>h1 {
        font-size: 15px;
    }

    .Goldmine_container_fluid_right>div>div>ul {
        list-style: none;
    }

    .Goldmine_container_fluid_right>div>div>ul>li {
        line-height: 20px;
    }

    .Goldmine_container_fluid_right>div>div button {
        float: none;
        margin-bottom: 0px;
    }

}