.works-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.works-heading h2 {
    font-weight: 700;
}

.works-heading span {
    color: #444444;
    font-weight: 500;
}

.workcontainer {
    padding: 1rem;
    font-weight: 700;

}

.green {
    background-color: #24754F;
    color: white;
    font-size: 1rem;
    font-weight: 800;
}

.works-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.works-box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-box1>p {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #606060
}

.works-box1>p>b {
    color: black;
}

.works-box1>img {
    margin-top: 50px;
    width: 100px;
}

.joinowbtn {
    text-align: center;
    margin-bottom: 50px;
}

.joinowbtn button {
    background-color: #EF7676;
    color: white;
    padding: 14px;
    border: none;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
}

.swapbutton button {
    width: 250px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 800;
    margin: 0.3rem;
    border: none;
    border-radius: 7px;
    line-height: 24px;
    font-weight: 700;
}

.initial {
    background-color: #E5E5E5;
    color: #606060
}

.in-swap {
    background-color: #E5E5E5;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 523px;
    margin: auto;
    border-radius: 9px;
}


@media screen and (max-width: 500px) {

    .works-heading>h2 {
        font-size: 17px;
    }

    .works-heading>span {
        font-weight: 500;
        font-size: 13px;
    }

    .works-box1>img {
        width: 50px;
        margin-top: 20px;
    }

    .works-box1>p {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .joinowbtn button {
        padding: 5px 10px 5px 10px;
        font-size: 9px;
    }

    .joinowbtn {
        margin-bottom: 10px;
    }
}