.footer-container{
    background-color: #808080;
    color: white;
    padding: 3rem;
}
.social{
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 2rem;
    padding: 0 2rem 2rem;
}
.social a{
    color: white;
}
.events{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-size: 1rem;
}
.events span {
    color:white
}
.copyright{
    text-align: center;
    font-size: 1rem;   
}