.bg-image {
  background-image: url('../../public/images/Rectangle\ 7400.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

body {
  font-family: 'Inter', sans-serif;
}

.bg-text {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
   text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;

}

.bg-title {
  font-size: 64px;
  font-weight: 800px;
  color: #FFFFFF;
  margin: 0px;

  /* width: 1024px; */
  /* height: 172px; */
}

.bg-para {
  font-size: 125%;
  color: #FFFFFF;
  font-weight: 500px;
  /* width: 903px; */

  /* height: 150px; */
  line-height: 32px;


}

.bg-button {
  background-color: #EF7676;
  color: #FFFFFF;
  width: 315px;
  height: 67px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 175%;
  font-weight: bold;
}

.nav-margin {
  /* margin-bottom: 67px; */
}

.bg-navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  color: #f1f1f1;
  width: 96%;
  background: white;
  height: 67px;
  padding: 0.2% 2%;
  display: flex;
  border-bottom: 1px solid #D2D2D2;
  justify-content: space-between;
  align-items: center;
}

.bg-logo {
  background-image: url('../../public/images/Group.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 174px;
  height: 37px;
  padding-top: 18px;
}

.bg-nav {
  float: right;
  display: block;
  color: black;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.bg-events {
  margin: 15px;
  text-decoration: none;
  width: 61px;
  height: 70px;
  color: #FFFFFF;
}

.bg-events {
  margin: 15px;
  text-decoration: none;
  width: 61px;
  height: 70px;
  color: #757373;
  font-weight: 700;
}

.bg-btn {
  width: 101px;
  height: 38px;
  margin: 15px;
  background-color: #24754F;
  color: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
}

.bg-sign-up {
  margin: 15px;
  width: 61px;
  text-decoration: none;
  height: 70px;
  color: #F0A31F;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .bg-events {
    display: none
  }

  #popup .bg-logo{
    width: 174px;
    height: 37px;
  }

  .bg-logo {
    width: 100px;
    height: 50px;
    margin-top: 10px;
  }

  .bg-btn {
    width: 90px;
    height: 40px;
  }

  .bg-title {
    font-size: 35px;
  }

}

@media screen and (max-width: 500px) {

  .bg-title {
    font-size: 20px;
  }

  .bg-para {
    font-size: 12px;
    margin: 20px 30px 40px 30px;
    line-height: 20px;
  }

  .bg-button {
    width: 215px;
    height: 40px;
    font-size: 17px;
  }

  .bg-image{
    height: 50vh;
  }

  .bg-text {
    height: 50vh;
    }
}