.head-banner{
    background-color: #24754F;
}
.view-detail{
    margin-top: 72px;
}
.banner-text{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-img{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.banner-img img{
    width: 49%;
}
.banner-container{
    /* width:70%; */
    display: flex;
    justify-content: space-between;
    /* background-image: url('../images/Group 11459.png'); */
}
.mail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: auto;
}
.mail span{
    color:
    #666666
}
.web{
    width: 50%;
    padding: 13px;
    color: #5A5D6D;
    font-size: 1rem;
    background-color: #F8F7FA;
    display: flex;
    align-items: center;
}
.web span{
    margin: 0 6px 0 10px;
}
.venue-details{
    width: 80%;
    margin:3rem auto;
}
.venue-details-container{
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */

}
.box{
    width: 300px;
    display: flex;
    /* flex-direction: column; */
}
.icon-view{
    margin: 17px;
    color: #24754F;
}
.view-description bold{
    margin-bottom: 10px;
}
.in-des{
    color:#666666;
    margin-top: 10px;
}
.box bold{
    font-weight: 700;
}
.box span{
    font-size: 14px;
    color: #666666;
}
.aboutevent{
    width: 80%;
    margin: 3rem  auto;
}
.eventtype{
    display: flex;
    gap: 2rem;
}
.eventtype small{
    font-size: 1rem;
    font-weight: 600;
}
.eventtype span{
    font-size: 1rem;
    font-weight: 600;
}
.aboutevent-para {
    margin-top: 2rem;
    color: #666666;
}
.tags{
    width: 80%;
    margin: 3rem auto;
    
}
.tag{
    display:flex ;
    gap: 2rem;
}
.tags span{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    background-color: #EF7676;
    padding: 1rem;
    border-radius:30px ;
    text-align: center;
}