.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subscribe-conatiner{
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}

.price-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 2rem 2rem 0 0; */
}
.pricebox{
    width: 400px;
    height: 100px;
    border: 3px solid rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 0 0;
    border-radius: 5px;
}
.pricebox:hover{
    border: 3px solid green;
}
.price-details{
    display: flex;
    gap: 1rem;
}
.price-details input{
   /* font-size: 1rem; */
   width: 20px
}
.price-details small{
    font-size: 1.5rem;
    font-weight: 700;
    color: #24754F;
}
.price price{
    font-size: 2rem;
    margin: auto;
    font-weight: 500;
}
.price{
    display: flex;
}
.price-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-type span{
    margin-top: 5px;
    color:#666666
}
.input{
    display: flex;
    
}
.price-continue button{
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: #24754F;
    font-weight: 700;
    font-size: 20px;
    border: 1px #24754F solid;
    border-radius: 8px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading span{
    color: #24754F;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.heading small{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.heading p{
    font-size: 1rem;
    /* font-family: Inter; */
font-size: 20px;
font-weight: 500;
/* line-height: 70px; */
letter-spacing: 2px;
text-align: left;

}
.para{
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color:#666666
}
.mic-img{
    position: relative;
    height: 300px;
    width: 401px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bee{
    position: absolute;
}
#orange{
    position: absolute;
    top: 29px;
    left: 163px;
}
#pink{
    position: absolute;
    left: 127px;
    top: 102px;
}